.WeatherForecast {
    text-align: center;
    margin: 15px auto 0 auto;
}

.WeatherForecast-day {
    color: grey;
    margin-bottom: 5px;
}

.WeatherForecast-temperatures {
    color: grey;
}

.WeatherForecast-temperature-min {
    opacity: 0.8;
    margin-left: 5px;
}

.WeatherForecast-icon {
    padding-left: 5px;
}